*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --border-rad: 10px;
}

body {
  display: flex;
  align-items: center;
  min-height: 100vh;
  justify-content: center;
}

.card {
  width: 243px;
  min-height: 260px;
  border: 1px solid;
  border-radius: var(--border-rad);
  position: relative;
  overflow: hidden;
}

.content {
  position: relative;
  z-index: 1;
}

.card::before {
  content: '';
  position: absolute;
  width: 150%;
  height: 150%;
  border-radius: var(--border-rad);
  background: conic-gradient( from 160deg at 50% 50%,
  #34CFFA 4.9358053877949715deg, 
  #34d6fa 12.666087001562119deg, 
  #34CFFA 23.807507157325745deg, 
  #3483FA 32.40000128746033deg, 
  #FFF 44.937236309051514deg, 
  #FFF 343.9125609397888deg, 
  #3483FA 355.3961706161499deg, 
  #7cb1ff);
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  animation: rotation 3s linear infinite;
}

.card::after {
  content: '';
  position: absolute;
  inset: 2px;
  background-color: #fff;
  border-radius: var(--border-rad);
  filter: blur(2.5px);
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}